<main>
  <mat-card class="card">
    <div class="grid flex justify-content-center">

      <div class="col-12 mb:col-6 lg:col-3 p-fluid">
        <span>Myrella</span>
        <div class="flex justify-content-center">
          <div class="flex aling-items-center">
            <a href="https://wa.me/message/FXL3IULNW4JZK1" target="_blank">
              <img src="assets/img/perfil vendedora.png" alt="" class="img max-w-10rem">
            </a>

          </div>
        </div>
      </div>

      <div class="col-12 mb:col-6 lg:col-3 p-fluid">
        <span>Mayara</span>
        <div class="flex justify-content-center">
          <div class="flex aling-items-center">
            <a href="https://wa.me/message/6NIRAQ2JJMTOK1" target="_blank">
              <img src="assets/img/perfil vendedora.png" alt="" class="img max-w-10rem">
            </a>

          </div>
        </div>
      </div>

      <div class="col-12 mb:col-6 lg:col-3 p-fluid">
        <span>Katlen</span>
        <div class="flex justify-content-center">
          <div class="flex aling-items-center">
            <a href="https://wa.me/message/2EGJH2JLVQEXG1" target="_blank">
              <img src="assets/img/perfil vendedora.png" alt="" class="img max-w-10rem">
            </a>

          </div>
        </div>
      </div>

      <!-- <div class="col-12 mb:col-6 lg:col-3 p-fluid">
        <span>Aline</span>
        <div class="flex justify-content-center">
          <div class="flex aling-items-center">
            <a href="https://wa.me/message/2EGJH2JLVQEXG1" target="_blank">
              <img src="assets/img/perfil vendedora.png" alt="" class="img max-w-10rem">
            </a>

          </div>
        </div>
      </div>
 -->



    </div>
  </mat-card>
</main>
