<main>
  <mat-toolbar class="container">
    <div class="flex justify-content-center ">
      <img src="assets/img/logo 2.png" alt class="max-h-4rem">

      <span class="title-group flex  align-items-center">

        <i class="fi fi-rs-home"></i>
        Catalogo
      </span>

      <p-dropdown [options]="languages" [(ngModel)]="selectedLanguage" placeholder="Selecione um idioma"></p-dropdown>
      <button (click)="changeLanguage()">Selecionar</button>


    </div>

  </mat-toolbar>

</main>
