<!--
  <main>
    <mat-card class="card">
      <div class="grid flex flex-wrap justify-content-center">

        <div class="col-12 ">

          <span style="display: flex;">Nome</span>
          <input type="text" pInputText name="nome" />

        </div>
        <div class="col-12 md:col-6 lg:col-3 ">
          <h2>ACESSORIOS</h2>
          <a href="https://drive.google.com/file/d/1iOvu2Ew9kCHuNaNsAFe6x7JOh1gyOx2g/view?usp=drive_link" target="_blank">
            <img src="assets/img/TAMPAS E ACESSORIOS.png" alt="" class="img max-w-10rem">
          </a>

        </div>

        <div class="col-12 md:col-6 lg:col-3 ">
          <h2>ACQUA BIO</h2>
          <a href="https://drive.google.com/file/d/1ipaseg0Fh9nQt2x0ayayiA8W9AbwyRC4/view?usp=drive_link" target="_blank">
            <img src="assets/img/acqua bio.png" alt="" class="img max-w-10rem">
          </a>

        </div>


        <div class="col-12 md:col-6 lg:col-3">
          <h2>BRASILEIROS</h2>
          <a href="https://drive.google.com/file/d/1j3PQqOUWgqUA7ySQvH36L9NK1coXrzBY/view?usp=drive_link" target="_blank">
            <img src="assets/img/BRASILEIRO.png" alt="" class="img max-w-10rem">

          </a>

        </div>

        <div class="col-12 md:col-6 lg:col-3">
          <h2>BALDE PREMIUM </h2>
          <a href="https://drive.google.com/file/d/1iw5P00F0Zlc_e0mcl7ZVw8ZeYBS-z9xy/view?usp=drive_link" target="_blank">

            <img src="assets/img/BALDE PREMIUM.png" alt="" class="img max-w-10rem">
          </a>

        </div>

        <div class="col-12 md:col-6 lg:col-3">
          <h2>BALDES 5L</h2>
          <a href="https://drive.google.com/file/d/1j-yEocLl8OaCIUWDOzksaWrVNlbZFBUT/view?usp=drive_link" target="_blank">

            <img src="assets/img/BALDE 5L.png" alt="" class="img max-w-10rem">
          </a>

        </div>

        <div class="col-12 md:col-6 lg:col-3">
          <h2>CALDERETAS </h2>
          <a href="https://drive.google.com/file/d/1j9OxrFMyJQhjeMEYJHfDzsff23cVn4t1/view?usp=drive_link" target="_blank">

            <img src="assets/img/CALDERETAS.png" alt="" class="img max-w-10rem">
          </a>

        </div>

        <div class="col-12 mb:col-6 lg:col-3">
          <h2>CANECA SLIM</h2>
          <a href="https://drive.google.com/file/d/1jTCtNQJ-HS8FM0xc_bJ8FkOrnIfLN6tv/view?usp=drive_link" target="_blank">

            <img src="assets/img/CANECA SLIM.png" alt="" class="img max-w-10rem">
          </a>

        </div>

      <div class="col-12 md:col-6 lg:col-3">
        <h2>CANECAS 300 E 500ML</h2>
        <a href="https://drive.google.com/file/d/1jR2QGI3rbT7OBRME-93o5KIeLfVqnj1U/view?usp=drive_link" target="_blank">

          <img src="assets/img/CANECA 300 E 500.png" alt="" class="img max-w-10rem">
        </a>

      </div>

      <div class="col-12 md:col-6 lg:col-3">
        <h2>CANECA MOSCOW MULE</h2>
        <a href="https://drive.google.com/file/d/1jdgKYvSjJLJ2ErHXT1rafIBLedODIZbK/view?usp=drive_link" target="_blank">

          <img src="assets/img/MOSCOW MULE.png" alt="" class="img max-w-10rem">
        </a>

      </div>

      <div class="col-12 md:col-6 lg:col-3">
        <h2>DRAFT</h2>
        <a href="https://drive.google.com/file/d/1jZO_-SQsW6efOG_gNNqA5_hoMhWkdHOb/view?usp=drive_link" target="_blank">

          <img src="assets/img/DRAFT.png" alt="" class="img max-w-10rem">
        </a>

      </div>

      <div class="col-12 md:col-6 lg:col-3">
        <h2>LINHA ECO</h2>
        <a href="https://drive.google.com/file/d/1kJtcQobyM-GhOzpnM9A-rkvN6vn6X6uX/view?usp=drive_link" target="_blank">

          <img src="assets/img/LINHA ECO.png" alt="" class="img max-w-10rem">
        </a>

      </div>

      <div class="col-12 md:col-6 lg:col-3">
        <h2>LONG PREMIUM -  LIGHT - FIT</h2>
        <a href="https://drive.google.com/file/d/1jc1rCcgJvVO5Ejyp8pGqG0RNQftENoLS/view?usp=drive_link" target="_blank">

          <img src="assets/img/LONG DRINK.png" alt="" class="img max-w-10rem">
        </a>

      </div>

      <div class="col-12 md:col-6 lg:col-3">
        <h2>PIXEL</h2>
        <a href="https://drive.google.com/file/d/1jf5QzrrlxUvKW1p4IHzdO8M0rsuTdLFy/view?usp=drive_link" target="_blank">

          <img src="assets/img/PIXEL.png" alt="" class="img max-w-10rem">
        </a>

      </div>

      <div class="col-12 md:col-6 lg:col-3">
        <h2>PINTURAS ESPECIAIS</h2>
        <a href="https://drive.google.com/file/d/1kP4pPSG8bFBQqcIR8rPubeSQsRuCUlHg/view?usp=drive_link" target="_blank">

          <img src="assets/img/PINTURAS ESPECIAIS.png" alt="" class="img max-w-10rem">
        </a>

      </div>

      <div class="col-12 md:col-6 lg:col-3">
        <h2>SHAKEIRA ROCKET BLENDER</h2>
        <a href="https://drive.google.com/file/d/1kOZHJL7NTtyf5aRqujPjtReS0pEzx_j1/view?usp=drive_link" target="_blank">

          <img src="assets/img/ROCKET BLENDER.png" alt="" class="img max-w-10rem">
        </a>

      </div>

      <div class="col-12 md:col-6 lg:col-3">
        <h2>SPACE</h2>
        <a href="https://drive.google.com/file/d/1jhanzPHqN4z6_e12uaJQCHJ2-Ixxw0ph/view?usp=drive_link" target="_blank">

          <img src="assets/img/SPACE.png" alt="" class="img max-w-10rem">
        </a>

      </div>

      <div class="col-12 md:col-6 lg:col-3">
        <h2>SHOT</h2>
        <a href="https://drive.google.com/file/d/1jh-nNQRXDq3xxxa-y_quNtR3neppyreD/view?usp=drive_link" target="_blank">

          <img src="assets/img/SHOT.png" alt="" class="img max-w-10rem">
        </a>

      </div>

      <div class="col-12 md:col-6 lg:col-3">
        <h2>TULIPA</h2>
        <a href="https://drive.google.com/file/d/1k3Qzqd_nTqhUX5tO2zY6QgCo_OgPbSbV/view?usp=drive_link" target="_blank">

          <img src="assets/img/TULIPA.png" alt="" class="img max-w-10rem">
        </a>

      </div>

      <div class="col-12 md:col-6 lg:col-3">
        <h2>TAÇA CHANDON</h2>
        <a href="https://drive.google.com/file/d/15rnUU4IfS71etnXw8nr-6SJTcZVouLqh/view?usp=sharing" target="_blank">

          <img src="assets/img/TAÇA CHANDON.png" alt="" class="img max-w-10rem">
        </a>

      </div>

      <div class="col-12 md:col-6 lg:col-3">
        <h2>TAÇA VINHO</h2>
        <a href="https://drive.google.com/file/d/15YzgVJVqiaUYZ1NEA6Ibs2OnA6o5MVEd/view?usp=sharing" target="_blank">

          <img src="assets/img/TAÇA VINHO.png" alt="" class="img max-w-10rem">
        </a>

      </div>

      <div class="col-12 md:col-6 lg:col-3">
        <h2>TAÇA LIGHT</h2>
        <a href="https://drive.google.com/file/d/15fek2dgogD4L636043pDJeT5D5ySYCXC/view?usp=sharing" target="_blank">

          <img src="assets/img/TAÇA LIGHT.png" alt="" class="img max-w-10rem">
        </a>

      </div>

      <div class="col-12 md:col-6 lg:col-3">
        <h2>TWISTER</h2>
        <a href="https://drive.google.com/file/d/1k7Z26mEvBVNfm1pO6arf613hi3-VtX2y/view?usp=drive_link" target="_blank">

          <img src="assets/img/TWISTER.png" alt="" class="img max-w-10rem">
        </a>

      </div>

      <div class="col-12 md:col-6 lg:col-3">
        <h2>WHISKY</h2>
        <a href="https://drive.google.com/file/d/1k96pJ4tDaSmaUvNumDxvOqy3p61uS4A1/view?usp=drive_link" target="_blank">

          <img src="assets/img/WHISKY.png" alt="" class="img max-w-10rem">
        </a>

      </div>

    </div>
  </mat-card>
</main>

-->

<main>
  <mat-card class="card">
    <form [formGroup]="searchForm">
      <div class="grid flex flex-wrap justify-content-center">
        <div class="col-12 md:col-6 lg:col-3">
          <span style="display: flex;">Catalogo</span>
          <input type="text" pInputText formControlName="nome" placeholder="Digite nome do Catalogo..." class="w-full" />
        </div>
      </div>
    </form>

    <div class="grid flex flex-wrap justify-content-center">
      <div *ngFor="let item of filteredItems" class="col-12 md:col-6 lg:col-3">
        <h2>{{ item.name }}</h2>
        <a [href]="item.link" target="_blank">
          <img [src]="item.img" alt="" class="img max-w-10rem">
        </a>
      </div>
    </div>
  </mat-card>
</main>
