<main>
  <mat-card class="card">
    <div class="grid flex justify-content-center">
      <div class="col-12 mb:col-6 lg:col-3 p-fluid">
        <span>ACESSORIOS</span>
        <div class="flex justify-content-center">

          <div class="flex aling-items-center">
            <a href="https://drive.google.com/file/d/1HpUN06JauFOsxQuZkeEHaWJLwxlViCfJ/view?usp=share_link" target="_blank">
              <img src="assets/img/logo.png" alt="" class="img max-h-4rem">

            </a>

          </div>
        </div>
      </div>

      <div class="col-12 mb:col-6 lg:col-3 p-fluid">
        <span>ACQUA BIO</span>
        <div class="flex justify-content-center">

          <div class="flex aling-items-center">
            <a href="https://drive.google.com/file/d/1Hr-7RT_S80eSa29rRZlFto-sHY7a22ST/view?usp=share_link" target="_blank">
              <img src="assets/img/logo.png" alt="" class="img max-h-4rem">
            </a>

          </div>
        </div>
      </div>

      <div class="col-12 mb:col-6 lg:col-3 p-fluid">
        <span>BALDES</span>
        <div class="flex justify-content-center">
          <div class="flex aling-items-center">
            <a href="https://drive.google.com/file/d/1V2OmhpxtZ4iZAdyrK8aNVya3G2gCWRUB/view?usp=sharing" target="_blank">
              <img src="assets/img/logo.png" alt="" class="img max-h-4rem">

            </a>

          </div>
        </div>
      </div>
      <div class="col-12 mb:col-6 lg:col-3 p-fluid">
        <span>CATALOGO ROCKET BLENDER</span>
        <div class="flex justify-content-center">
          <div class="flex aling-items-center">
            <a href="https://drive.google.com/file/d/1FzbdnCoiamGyHP1YKi20GkAHPnUnQaoN/view?usp=share_link" target="_blank">

              <img src="assets/img/logo.png" alt="" class="img max-h-4rem">
            </a>

          </div>
        </div>
      </div>
    </div>
<!--     <div class="flex justify-content-center">
      <div class="flex aling-items-center">
      <span>Status</span>
      </div>
    </div>
    <div class="flex justify-content-center">

      <div class="flex aling-items-center">
        <img src="assets/img/logo.png" alt="" class="img max-h-4rem">

      </div>
    </div> -->

  </mat-card>
</main>
