<main>
  <mat-card class="card">
    <div class="grid flex justify-content-center">
      <div class="col-12 mb:col-6 lg:col-3 p-fluid">
        <span>ACESSORIOS</span>
        <div class="flex justify-content-center">

          <div class="flex aling-items-center">
            <a href="https://drive.google.com/file/d/1iOvu2Ew9kCHuNaNsAFe6x7JOh1gyOx2g/view?usp=drive_link" target="_blank">
              <img src="assets/img/TAMPAS.png" alt="" class="img max-w-10rem">
            </a>

          </div>
        </div>
      </div>

      <div class="col-12 mb:col-6 lg:col-3 p-fluid">
        <span>ACQUA BIO</span>
        <div class="flex justify-content-center">

          <div class="flex aling-items-center">
            <a href="https://drive.google.com/file/d/1ipaseg0Fh9nQt2x0ayayiA8W9AbwyRC4/view?usp=drive_link" target="_blank">
              <img src="assets/img/ACQUA.png" alt="" class="img max-w-10rem">
            </a>

          </div>
        </div>
      </div>

      <div class="col-12 mb:col-6 lg:col-3 p-fluid">
        <span>BRASILEIROS</span>
        <div class="flex justify-content-center">
          <div class="flex aling-items-center">
            <a href="https://drive.google.com/file/d/1j3PQqOUWgqUA7ySQvH36L9NK1coXrzBY/view?usp=drive_link" target="_blank">
              <img src="assets/img/BRASILEIRO.png" alt="" class="img max-w-10rem">

            </a>

          </div>
        </div>
      </div>

      <div class="col-12 mb:col-6 lg:col-3 p-fluid">
        <span>BALDE PREMIUM </span>
        <div class="flex justify-content-center">
          <div class="flex aling-items-center">
            <a href="https://drive.google.com/file/d/1iw5P00F0Zlc_e0mcl7ZVw8ZeYBS-z9xy/view?usp=drive_link" target="_blank">

              <img src="assets/img/BALDE PREMIUM.png" alt="" class="img max-w-10rem">
            </a>

          </div>
        </div>
      </div>

      <div class="col-12 mb:col-6 lg:col-3 p-fluid">
        <span>BALDES 5L</span>
        <div class="flex justify-content-center">
          <div class="flex aling-items-center">
            <a href="https://drive.google.com/file/d/1j-yEocLl8OaCIUWDOzksaWrVNlbZFBUT/view?usp=drive_link" target="_blank">

              <img src="assets/img/BALDE 5L.png" alt="" class="img max-w-10rem">
            </a>

          </div>
        </div>
      </div>

      <div class="col-12 mb:col-6 lg:col-3 p-fluid">
        <span>CALDERETAS </span>
        <div class="flex justify-content-center">
          <div class="flex aling-items-center">
            <a href="https://drive.google.com/file/d/1j9OxrFMyJQhjeMEYJHfDzsff23cVn4t1/view?usp=drive_link" target="_blank">

              <img src="assets/img/CALDERETA.png" alt="" class="img max-w-10rem">
            </a>

          </div>
        </div>
      </div>

      <div class="col-12 mb:col-6 lg:col-3 p-fluid">
        <span>CANECA SLIM</span>
        <div class="flex justify-content-center">
          <div class="flex aling-items-center">
            <a href="https://drive.google.com/file/d/1jTCtNQJ-HS8FM0xc_bJ8FkOrnIfLN6tv/view?usp=drive_link" target="_blank">

              <img src="assets/img/CANECA SLIM.png" alt="" class="img max-w-10rem">
            </a>

          </div>
        </div>
      </div>

      <div class="col-12 mb:col-6 lg:col-3 p-fluid">
        <span>CANECAS 300 E 500ML</span>
        <div class="flex justify-content-center">
          <div class="flex aling-items-center">
            <a href="https://drive.google.com/file/d/1jR2QGI3rbT7OBRME-93o5KIeLfVqnj1U/view?usp=drive_link" target="_blank">

              <img src="assets/img/CANECA 300.png" alt="" class="img max-w-10rem">
            </a>

          </div>
        </div>
      </div>

      <div class="col-12 mb:col-6 lg:col-3 p-fluid">
        <span>CANECA MOSCOW MULE</span>
        <div class="flex justify-content-center">
          <div class="flex aling-items-center">
            <a href="https://drive.google.com/file/d/1jdgKYvSjJLJ2ErHXT1rafIBLedODIZbK/view?usp=drive_link" target="_blank">

              <img src="assets/img/MOSCOW.png" alt="" class="img max-w-10rem">
            </a>

          </div>
        </div>
      </div>

      <div class="col-12 mb:col-6 lg:col-3 p-fluid">
        <span>DRAFT</span>
        <div class="flex justify-content-center">
          <div class="flex aling-items-center">
            <a href="https://drive.google.com/file/d/1jZO_-SQsW6efOG_gNNqA5_hoMhWkdHOb/view?usp=drive_link" target="_blank">

              <img src="assets/img/DRAFT.png" alt="" class="img max-w-10rem">
            </a>

          </div>
        </div>
      </div>

      <div class="col-12 mb:col-6 lg:col-3 p-fluid">
        <span>LINHA ECO</span>
        <div class="flex justify-content-center">
          <div class="flex aling-items-center">
            <a href="https://drive.google.com/file/d/1kJtcQobyM-GhOzpnM9A-rkvN6vn6X6uX/view?usp=drive_link" target="_blank">

              <img src="assets/img/LINHA ECO.png" alt="" class="img max-w-10rem">
            </a>

          </div>
        </div>
      </div>

      <div class="col-12 mb:col-6 lg:col-3 p-fluid">
        <span>LONG PREMIUM -  LIGHT - FIT</span>
        <div class="flex justify-content-center">
          <div class="flex aling-items-center">
            <a href="https://drive.google.com/file/d/1jc1rCcgJvVO5Ejyp8pGqG0RNQftENoLS/view?usp=drive_link" target="_blank">

              <img src="assets/img/LONG.png" alt="" class="img max-w-10rem">
            </a>

          </div>
        </div>
      </div>

      <div class="col-12 mb:col-6 lg:col-3 p-fluid">
        <span>PIXEL</span>
        <div class="flex justify-content-center">
          <div class="flex aling-items-center">
            <a href="https://drive.google.com/file/d/1jf5QzrrlxUvKW1p4IHzdO8M0rsuTdLFy/view?usp=drive_link" target="_blank">

              <img src="assets/img/PIXEL.png" alt="" class="img max-w-10rem">
            </a>

          </div>
        </div>
      </div>

      <div class="col-12 mb:col-6 lg:col-3 p-fluid">
        <span>PINTURAS ESPECIAIS</span>
        <div class="flex justify-content-center">
          <div class="flex aling-items-center">
            <a href="https://drive.google.com/file/d/1kP4pPSG8bFBQqcIR8rPubeSQsRuCUlHg/view?usp=drive_link" target="_blank">

              <img src="assets/img/PINTURA ESPECIAL.png" alt="" class="img max-w-10rem">
            </a>

          </div>
        </div>
      </div>

      <div class="col-12 mb:col-6 lg:col-3 p-fluid">
        <span>SHAKEIRA ROCKET BLENDER</span>
        <div class="flex justify-content-center">
          <div class="flex aling-items-center">
            <a href="https://drive.google.com/file/d/1kOZHJL7NTtyf5aRqujPjtReS0pEzx_j1/view?usp=drive_link" target="_blank">

              <img src="assets/img/SHAKEIRA.png" alt="" class="img max-w-10rem">
            </a>

          </div>
        </div>
      </div>

      <div class="col-12 mb:col-6 lg:col-3 p-fluid">
        <span>SPACE</span>
        <div class="flex justify-content-center">
          <div class="flex aling-items-center">
            <a href="https://drive.google.com/file/d/1jhanzPHqN4z6_e12uaJQCHJ2-Ixxw0ph/view?usp=drive_link" target="_blank">

              <img src="assets/img/SPACE.png" alt="" class="img max-w-10rem">
            </a>

          </div>
        </div>
      </div>

      <div class="col-12 mb:col-6 lg:col-3 p-fluid">
        <span>SHOT</span>
        <div class="flex justify-content-center">
          <div class="flex aling-items-center">
            <a href="https://drive.google.com/file/d/1jh-nNQRXDq3xxxa-y_quNtR3neppyreD/view?usp=drive_link" target="_blank">

              <img src="assets/img/SHOT.png" alt="" class="img max-w-10rem">
            </a>

          </div>
        </div>
      </div>

      <div class="col-12 mb:col-6 lg:col-3 p-fluid">
        <span>TULIPA</span>
        <div class="flex justify-content-center">
          <div class="flex aling-items-center">
            <a href="https://drive.google.com/file/d/1k3Qzqd_nTqhUX5tO2zY6QgCo_OgPbSbV/view?usp=drive_link" target="_blank">

              <img src="assets/img/TULIPA.png" alt="" class="img max-w-10rem">
            </a>

          </div>
        </div>
      </div>

      <div class="col-12 mb:col-6 lg:col-3 p-fluid">
        <span>TAÇA CHANDON / VINHO</span>
        <div class="flex justify-content-center">
          <div class="flex aling-items-center">
            <a href="https://drive.google.com/file/d/1jz5YIVR5d9hTEyCg9ZeanfL3n94f6B79/view?usp=drive_link" target="_blank">

              <img src="assets/img/TAÇA CHANDON.png" alt="" class="img max-w-10rem">
            </a>

          </div>
        </div>
      </div>

      <div class="col-12 mb:col-6 lg:col-3 p-fluid">
        <span>TAÇA GIN </span>
        <div class="flex justify-content-center">
          <div class="flex aling-items-center">
            <a href="https://drive.google.com/file/d/1jZtk4dswZxVlmq9mjhXhgAGlu_lXch-A/view?usp=drive_link" target="_blank">

              <img src="assets/img/HAPPY.png" alt="" class="img max-w-10rem">
            </a>

          </div>
        </div>
      </div>

      <div class="col-12 mb:col-6 lg:col-3 p-fluid">
        <span>TWISTER</span>
        <div class="flex justify-content-center">
          <div class="flex aling-items-center">
            <a href="https://drive.google.com/file/d/1k7Z26mEvBVNfm1pO6arf613hi3-VtX2y/view?usp=drive_link" target="_blank">

              <img src="assets/img/TWISTER.png" alt="" class="img max-w-10rem">
            </a>

          </div>
        </div>
      </div>

      <div class="col-12 mb:col-6 lg:col-3 p-fluid">
        <span>WHISKY</span>
        <div class="flex justify-content-center">
          <div class="flex aling-items-center">
            <a href="https://drive.google.com/file/d/1k96pJ4tDaSmaUvNumDxvOqy3p61uS4A1/view?usp=drive_link" target="_blank">

              <img src="assets/img/WHISKY.png" alt="" class="img max-w-10rem">
            </a>

          </div>
        </div>
      </div>

    </div>
  </mat-card>
</main>
