<main>
  <mat-card class="home mat-elevantion-z4">
    <div class="grid flex justify-content-center">
      <div class="flex justify-content-center col-12 mb:col-6 lg:col-3">
        <h2 class="title">Bem-vindo ao Catalogo Personalizado</h2>
      </div>
      <div class="col-12 mb:col-6 lb:col-3 flex align-items-center m-3 ">
        <p>Seja bem-vindo à nossa página! Estamos imensamente felizes por sua
          presença aqui.
          Para explorar os nossos produtos, basta clicar na aba "Catálogos" no
          menu lateral.
          Lá, você encontrará uma ampla gama de opções para facilitar a
          visualização e descoberta de tudo o que temos a oferecer. Aproveite ao
          máximo a sua visita e não hesite em entrar em contato conosco caso
          necessite de qualquer assistência. Estamos à disposição para ajudá-lo
        </p>

      </div>
    </div>
    <div class=" grid flex justify-content-center">

      <div class="col-12 mb:col-6 lg:col-3 p-fluid">
       <h1>Super Copo</h1>
        <div class="flex justify-content-center">

<!--           <div class="flex flex-wrap aling-items-center" >
            <a href="/catalogos" target="_blank">
              <img src="assets/img/tela.jpeg" alt="" class="max-h-0 sm:max-h-full">
            </a>

          </div> -->
        </div>
      </div>





    </div>
  </mat-card>
</main>
