

.home {
 margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title {
  font-weight: bold;
  padding: 10px;
}



.mat-mdc-card {
  margin-top: 70px;
}

p{
  font-weight: 400;
  margin: 15px;
}

.divisor{
  box-shadow: 0px -5px 2px -1px rgba(0,0,0,0.75);
}


span {
  text-align: center;
    font-size: 12px;
    font-weight: bolder;
    display: block;
}
