<main>
  <mat-card class="home mat-elevantion-z4">
    <div class="grid flex justify-content-center">
      <div class="flex justify-content-center col-12 mb:col-6 lg:col-3">
        <mat-card-content class="title">Bem-vindo ao Catalogo</mat-card-content>
      </div>
      <div class="col-12 mb:col-6 lb:col-3 flex align-items-center m-3 ">
        <p>Seja bem-vindo à nossa página! Estamos imensamente felizes por sua
          presença aqui.
          Para explorar os nossos produtos, basta clicar na aba "Catálogos" no
          menu lateral.
          Lá, você encontrará uma ampla gama de opções para facilitar a
          visualização e descoberta de tudo o que temos a oferecer. Aproveite ao
          máximo a sua visita e não hesite em entrar em contato conosco caso
          necessite de qualquer assistência. Estamos à disposição para ajudá-lo
        </p>

      </div>
    </div>
    <div class=" grid flex justify-content-center">

        <div class="divisor col-12 mb:col-6 lg:col-3 p-fluid">
          <span>ACESSORIOS 1</span>
          <div class="flex justify-content-center">

            <div class="flex aling-items-center">
              <a href="https://drive.google.com/file/d/1iOvu2Ew9kCHuNaNsAFe6x7JOh1gyOx2g/view?usp=drive_link" target="_blank">
                <img src="assets/img/TAMPAS.png" alt="" class="img max-w-10rem">
                <span>saiba mais</span>
              </a>
          </div>
        </div>
        </div>

        <div class="divisor col-12 mb:col-6 lg:col-3 p-fluid">
          <span>ACESSORIOS 2</span>
          <div class="flex justify-content-center">

            <div class="flex aling-items-center">
              <a href="https://drive.google.com/file/d/1iOvu2Ew9kCHuNaNsAFe6x7JOh1gyOx2g/view?usp=drive_link" target="_blank">
                <img src="assets/img/TAMPAS.png" alt="" class="img max-w-10rem">
                <span>saiba mais</span>
              </a>
          </div>
        </div>
        </div>

        <div class="divisor col-12 mb:col-6 lg:col-3 p-fluid">
          <span>ACESSORIOS 3</span>
          <div class="flex justify-content-center">

            <div class="flex aling-items-center">
              <a href="https://drive.google.com/file/d/1iOvu2Ew9kCHuNaNsAFe6x7JOh1gyOx2g/view?usp=drive_link" target="_blank">
                <img src="assets/img/TAMPAS.png" alt="" class="img max-w-10rem">
                <span>saiba mais</span>
              </a>
          </div>
        </div>
        </div>

        <div class="divisor col-12 mb:col-6 lg:col-3 p-fluid">
          <span>ACESSORIOS 4</span>
          <div class="flex justify-content-center">

            <div class="flex aling-items-center">
              <a href="https://drive.google.com/file/d/1iOvu2Ew9kCHuNaNsAFe6x7JOh1gyOx2g/view?usp=drive_link" target="_blank">
                <img src="assets/img/TAMPAS.png" alt="" class="img max-w-10rem">
                <span>saiba mais</span>
              </a>
          </div>
        </div>
        </div>

        <div class="divisor col-12 mb:col-6 lg:col-3 p-fluid">
          <span>ACESSORIOS 5</span>
          <div class="flex justify-content-center">

            <div class="flex aling-items-center">
              <a href="https://drive.google.com/file/d/1iOvu2Ew9kCHuNaNsAFe6x7JOh1gyOx2g/view?usp=drive_link" target="_blank">
                <img src="assets/img/TAMPAS.png" alt="" class="img max-w-10rem">
                <span>saiba mais</span>
              </a>
          </div>
        </div>
        </div>


        <div class="divisor col-12 mb:col-6 lg:col-3 p-fluid">
          <span>ACESSORIOS 6</span>
          <div class="flex justify-content-center">

            <div class="flex aling-items-center">
              <a href="https://drive.google.com/file/d/1iOvu2Ew9kCHuNaNsAFe6x7JOh1gyOx2g/view?usp=drive_link" target="_blank">
                <img src="assets/img/TAMPAS.png" alt="" class="img max-w-10rem">
                <span>saiba mais</span>
              </a>
          </div>
        </div>
        </div>
        <div class="divisor col-12 mb:col-6 lg:col-3 p-fluid">
          <span>ACESSORIOS 7</span>
          <div class="flex justify-content-center">

            <div class="flex aling-items-center">
              <a href="https://drive.google.com/file/d/1iOvu2Ew9kCHuNaNsAFe6x7JOh1gyOx2g/view?usp=drive_link" target="_blank">
                <img src="assets/img/TAMPAS.png" alt="" class="img max-w-10rem">
                <span>saiba mais</span>
              </a>
          </div>
        </div>
        </div>
        <div class="divisor col-12 mb:col-6 lg:col-3 p-fluid">
          <span>ACESSORIOS 8</span>
          <div class="flex justify-content-center">

            <div class="flex aling-items-center">
              <a href="https://drive.google.com/file/d/1iOvu2Ew9kCHuNaNsAFe6x7JOh1gyOx2g/view?usp=drive_link" target="_blank">
                <img src="assets/img/TAMPAS.png" alt="" class="img max-w-10rem">
                <span>saiba mais</span>
              </a>
          </div>
        </div>
        </div>
        <div class="divisor col-12 mb:col-6 lg:col-3 p-fluid">
          <span>ACESSORIOS 9</span>
          <div class="flex justify-content-center">

            <div class="flex aling-items-center">
              <a href="https://drive.google.com/file/d/1iOvu2Ew9kCHuNaNsAFe6x7JOh1gyOx2g/view?usp=drive_link" target="_blank">
                <img src="assets/img/TAMPAS.png" alt="" class="img max-w-10rem">
                <span>saiba mais</span>
              </a>
          </div>
        </div>
        </div>
        <div class="divisor col-12 mb:col-6 lg:col-3 p-fluid">
          <span>ACESSORIOS 10</span>
          <div class="flex justify-content-center">

            <div class="flex aling-items-center">
              <a href="https://drive.google.com/file/d/1iOvu2Ew9kCHuNaNsAFe6x7JOh1gyOx2g/view?usp=drive_link" target="_blank">
                <img src="assets/img/TAMPAS.png" alt="" class="img max-w-10rem">
                <span>saiba mais</span>
              </a>
          </div>
        </div>
        </div>
        <div class="divisor col-12 mb:col-6 lg:col-3 p-fluid">
          <span>ACESSORIOS 11</span>
          <div class="flex justify-content-center">

            <div class="flex aling-items-center">
              <a href="https://drive.google.com/file/d/1iOvu2Ew9kCHuNaNsAFe6x7JOh1gyOx2g/view?usp=drive_link" target="_blank">
                <img src="assets/img/TAMPAS.png" alt="" class="img max-w-10rem">
                <span>saiba mais</span>
              </a>
          </div>
        </div>
        </div>
        <div class="divisor col-12 mb:col-6 lg:col-3 p-fluid">
          <span>ACESSORIOS 12</span>
          <div class="flex justify-content-center">

            <div class="flex aling-items-center">
              <a href="https://drive.google.com/file/d/1iOvu2Ew9kCHuNaNsAFe6x7JOh1gyOx2g/view?usp=drive_link" target="_blank">
                <img src="assets/img/TAMPAS.png" alt="" class="img max-w-10rem">
                <span>saiba mais</span>
              </a>
          </div>
        </div>
        </div>


    </div>
  </mat-card>
</main>
