<main>
  <mat-sidenav-container class="container">
    <mat-sidenav class="sidenav flex justify-content-start" mode="side" opened
      fixedInViewport="true" fixedTopGap="62">
      <mat-nav-list class="sub-list">
        <a mat-list-item routerLink="">
          <i class="fi fi-br-house-chimney"></i>
          <span>Inicio</span>
        </a>
        <a mat-list-item routerLink="/catalogo">
          <i class="fi fi-br-house-chimney"></i>
          <span>Catalogo</span>
        </a>
      </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</main>
